<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav id="page-nav" th:fragment="nav">
        <div class="container" id="nav-row">
            <a th:href="@{/}" id="logo">Baza OEM</a>
            <a th:href="@{/register}" class="nav-item">Czynniki Środowiska Pracy</a>
            <a href="" class="nav-item">Interpretacja wyników</a>
            <a href="" class="nav-item">Wyświetl wyniki</a>
        </div>
    </nav>
</body>
</html>