<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: template (~{:: #factors-description-content})}">

<section id="factors-description-content">
    <div class="container">
        <header style="text-align: center">
            <h1 style="font-size: 1.5em">Czynniki szkodliwe w środowisku pracy: definicje i opis oddziaływania</h1>
        </header>

        <nav style="text-align: center">
            <b>Hałas &nbsp; Pyły &nbsp; Czynniki chemiczne &nbsp;</b>
        </nav>

        <main>
            <p style="font-weight: 200"><strong>Czynniki szkodliwe w środowisku pracy</strong> – to czynniki, których
                oddziaływanie na pracownika prowadzi lub może prowadzić do powstania choroby zawodowej lub innego
                schorzenia związanego z wykonywaną pracą.</p>
            <ul style="font-weight: 200">
                <li>czynniki fizyczne np. hałas,</li>
                <li>czynniki chemiczne np. benzen,</li>
                <li>pyły np. pył drzewa twardego,</li>
            </ul>
            <section>
                <p style="font-weight: 200">Rozporządzenie Ministra Pracy i Polityki Społecznej z dnia
                    <time datetime="2023-08-18"> 29 listopada 2002 r. </time> w sprawie najwyższych dopuszczalnych
                    stężeń i natężeń czynników szkodliwych dla zdrowia w środowisku pracy (DZ.U. Nr 217, poz. 1833
                    z późn. zm) ustala: najwyższe dopuszczalne stężenia czynników szkodliwych dla zdrowia w środowisku
                    pracy (NDS) i najwyższe dopuszczalne natężenia fizycznego czynnika szkodliwego dla zdrowia w
                    środowisku pracy (NDN) jako:</p>
                <dl style="font-weight: 200">
                    <dd><b>NDS</b> – najwyższe dopuszczalne stężenie – wartość średnia ważona – którego oddziaływanie na
                        pracownika w ciągu 8-godzinnego dobowego i przeciętnego tygodniowego wymiaru czasu pracy
                        określonego w Kodeksie Pracy, przez jego okres aktywności zawodowej nie powinno spowodować
                        ujemnych zmian w jego stanie zdrowia, oraz w stanie zdrowia jego przyszłych pokoleń.
                    </dd>
                    <dd><b>NDN</b> – najwyższe dopuszczalne natężenie fizycznego czynnika szkodliwego dla zdrowia –
                        wartość średnia narażenia, którego oddziaływanie na pracownika w ciągu 8-godzinnego dobowego i
                        przeciętnego tygodniowego wymiaru czasu pracy określonego w Kodeksie Pracy, przez jego okres
                        aktywności zawodowej nie powinno spowodować ujemnych zmian w jego stanie zdrowia, oraz w stanie
                        zdrowia jego przyszłych pokoleń.
                    </dd>
                </dl>
            </section>
            <section>
                <dl>
                    <dt>Hałas</dt>
                    <dd style="font-weight: 200">
                        <p>Hałasem określa się wszelkie niepożądane, nieprzyjemne, dokuczliwe, uciążliwe lub szkodliwe
                            drgania ośrodka sprężystego, oddziaływujące za pośrednictwem powietrza na narząd słuchu i
                            inne zmysły oraz elementy organizmu człowieka.
                        <p>Skutki oddziaływania hałasu na organizm ludzki mogą być słuchowe i pozasłuchowe.
                            W wyniku długotrwałej, wieloletniej ekspozycji na hałas, o równoważnym poziomie dźwięku A
                            powyżej 80 dB, zazwyczaj dochodzi do nieodwracalnego podwyższenia progu słyszenia tzw.
                            trwałych ubytków słuchu. Trwały ubytek słuchu może być również efektem jednorazowej
                            ekspozycji na hałas, jeśli jego szczytowy poziom ciśnienia akustycznego przekroczy wartość
                            135 dB. Jeśli, obustronny trwały ubytek słuchu typu ślimakowego spowodowany hałasem , jest
                            wyrażony podwyższeniem progu słuchu o wielkości conajmniej 45 dB w uchu lepiej słyszącym,
                            obliczony jako średnia arytmetyczna dla częstotliwości audiometrycznych 1, 2 i 3 kHz, to
                            wówczas stanowi kryterium rozpoznania i orzeczenia zawodowego uszkodzenia słuchu.</p>
                        <p>Pozasłuchowe skutki oddziaływania hałasu na organizm ludzki polegają na działaniu hałasu jako
                            stresora, prowadząc do zaburzeń funkcjonowania układu oddechowego, krążenia, pokarmowego i
                            innych narządów. Hałas oddziałuje również negatywnie na układ nerwowy. Ponadto hałas obniża
                            zrozumiałość mowy oraz percepcję ostrzegawczych sygnałów dźwiękowych. Maskowanie mowy oraz
                            sygnałów ostrzegawczych nie tylko utrudnia porozumiewanie się, ale przed wszystkim
                            zwiększa ryzyko wypadków w hałaśliwym środowisku pracy.</p>
                        <p>Zgodnie z obowiązującymi przepisami podanymi w Rozporządzeniu M P i P S z dnia 29 listopada
                            2002 r. w sprawie najwyższych dopuszczalnych stężeń i natężeń czynników szkodliwych dla
                            zdrowia w środowisku pracy (Dz. U. Nr 217, poz. 1833) oraz zgodnie z wymaganiami normy
                            PN-N-01307:1994 hałas w środowisku pracy jest oceniany na podstawie wartości następujących
                            wielkości:</p>
                        <p>Skutki oddziaływania hałasu na organizm ludzki mogą być:</p>
                        <ul>
                            <li>poziomu ekspozycji na hałas odniesionego do 8-godzinnego dobowego wymiaru czasu pracy
                                lub poziomu ekspozycji na hałas odniesionego do tygodnia pracy,
                            </li>
                            <li>maksymalnego poziomu dźwięku A,</li>
                            <li>szczytowego poziomu dźwięku C,</li>
                        </ul>
                        <p>Dopuszczalne wartości hałasu ze względu na ochronę słuchu są następujące</p>
                        <ul>
                            <li>poziom ekspozycji na hałas odniesiony zarówno do 8 godzin jak i tygodnia pracy nie może
                                przekraczać 85 dB,
                            </li>
                            <li>maksymalny poziom dźwięku A nie może przekraczać 115 dB,</li>
                            <li>szczytowy poziom dźwięku C nie może przekraczać 135 dB,</li>
                        </ul>
                        <p>Ponadto Rozporządzenie M G i P z dnia 5 sierpnia 2005 r. w sprawie bezpieczeństwa i higieny
                            pracy przy pracach związanych z narażeniem na hałas lub drgania mechaniczne (Dz. U, Nr 157,
                            poz. 1318) wdrażające postanowienia Dyrektywy Hałasowej 2003/10/WE, wprowadza wartości
                            progu działania:</p>
                        <ul>
                            <li>dla poziomu ekspozycji na hałas odniesionego do 8-godzinnego dobowego wymiaru pracy lub
                                poziomu ekspozycji na hałas odniesionego do tygodnia pracy – 80 dB,
                            </li>
                            <li>dla szczytowego poziomu dźwięku C – 135 dB,</li>
                        </ul>
                    </dd>
                    <dt>Pyły</dt>
                    <dd style="font-weight: 200">
                        <p>Pyły, pochodzące najczęściej z obróbki rozmaitych materiałów, często mogą być szkodliwe dla
                            zdrowia człowieka, jeżeli dostaną się do układu oddechowego. Właśnie dlatego stanowiska, na
                            których wykonywane są tego typu prace, podlegają dokładnej kontroli. Oczywiście, nie
                            wszystkie rodzaje pyłów zagrażają zdrowiu pracowników. Niektóre w ogóle nie są wdychane ze
                            względu na rozmiar cząsteczek, niektóre są całkowicie neutralne dla ludzkiego organizmu.
                            Aby jednak umożliwić rozróżnianie, które są szkodliwe dla zdrowia, a które nie, powstała
                            specjalna klasyfikacja pyłów w procesach technologicznych, gdzie zawarte zostały dane
                            dotyczące wymiarów cząsteczek poszczególnych ich rodzajów oraz ich wpływ na ludzkie
                            zdrowie.</p>
                        <p>Klasyfikacja różnego rodzaju pyłów i włókien, które mogą pojawić się podczas procesów
                            technologicznych, z odpowiednim podziałem według rozmiaru cząsteczek i ich wpływu na ludzkie
                            zdrowie, została zawarta w rozporządzeniu Ministra Pracy i Polityki Społecznej z dnia 6
                            czerwca 2014 roku. W dokumencie zawarto informacje dotyczące dopuszczalnych wartości stężeń
                            i natężeń czynników szkodliwych w środowisku pracy (Dz. U. poz. 817). Według tego
                            rozporządzenia pyły, z którymi możemy mieć styczność podczas pracy i przeprowadzania
                            różnych procesów technologicznych, dzielimy na:</p>
                        <ul>
                            <li>pył całkowity – czyli zbiór wszystkich cząstek otoczonych powietrzem, znajdujących się w
                                określonej objętości powietrza
                            </li>
                            <li>pył respirabilny – czyli zbiór cząstek przechodzących przez selektor wstępny o
                                przepuszczalności charakteryzowanej według wymiarów cząstek, opisanej
                                logarytmiczno-normalną funkcją prawdopodobieństwa, o średnicy aerodynamicznej około
                                trzy i pół mikrona i z geometrycznym odchyleniem około półtora mikrona,
                            </li>
                            <li>włókna respirabilne – czyli włókna, których długość przekracza pięć mikronów, a ich
                                maksymalna średnica wynosi trzy mikrony i które mają stosunek długości do średnicy > 3,
                            </li>
                        </ul>
                    </dd>
                    <dt>Czynniki chemiczne</dt>
                    <dd style="font-weight: 200">
                        <p>Czynniki chemiczne w środowisku pracy mogą powodować problemy zdrowotne w miejscu pracy.
                            Najczęstsze skutki narażenia na działanie środków chemicznych to podrażnienie oczu, nosa i
                            gardła, bóle głowy, zawroty głowy, zmęczenie, nudności, podrażnienie skóry i wysypka.
                            Długotrwałe skutki mogą obejmować raka, wady wrodzone lub inne szkody reprodukcyjne. </p>
                        <p>Częstotliwość badań i pomiarów w środowisku pracy czynników chemicznych i pyłów za wyjątkiem
                            czynników o działaniu rakotwórczym</p>
                        <ul>
                            <li>co najmniej raz na 2 lata, jeżeli podczas ostatniego badania i pomiaru stwierdzono
                                stężenie czynnika szkodliwego dla zdrowia powyżej 0,1 do 0,5 wartości NDS
                            </li>
                            <li>co najmniej raz w roku, jeżeli podczas ostatniego badania i pomiaru stwierdzono stężenie
                                czynnika szkodliwego dla zdrowia powyżej 0,5 wartości NDS
                            </li>
                            <li>jeżeli wyniki dwóch ostatnich badań i pomiarów szkodliwych dla zdrowia czynników
                                chemicznych lub pyłów, wykonanych w odstępie co najmniej dwóch lat nie przekroczyły 0,1
                                wartości NDS, pracodawca może odstąpić od wykonywania badań i pomiarów,
                            </li>
                        </ul>
                        <p>Częstotliwość badań i pomiarów w środowisku pracy czynników chemicznych i pyłów o działaniu
                            rakotwórczym</p>
                        <ul>
                            <li>co najmniej raz na sześć miesięcy jeżeli podczas ostatniego badania i pomiaru
                                stwierdzono stężenie czynnika o działaniu rakotwórczym lub mutagennym powyżej 0,1 do 0,5
                                wartości NDS,
                            </li>
                            <li>co najmniej raz na trzy miesiące jeżeli podczas ostatniego badania i pomiaru stwierdzono
                                stężenie czynnika o działaniu rakotwórczym lub mutagennym powyżej 0,5 wartości NDS,
                            </li>
                            <li>jeżeli wyniki dwóch ostatnich badań i pomiarów czynników o działaniu rakotwórczym lub
                                mutagennym, wykonanych w odstępie co najmniej sześciu miesięcy nie przekroczyły 0,1
                                wartości NDS, pracodawca może odstąpić od wykonywania badań i pomiarów,
                            </li>
                        </ul>
                    </dd>
                </dl>
            </section>
        </main>
    </div>
</section>
</html>