<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: template (~{:: #factor-content})}">

<section id="factor-content">
    <div class="container">
        <h1>Czynnik</h1>
        <form th:object="${factor}" method="post">
            <div class="form-row">
                <input placeholder="Nazwa czynnika" th:field="*{name}" type="text" class="input"/>
            </div>
            <div class="form-row">
                <input placeholder="NDS" th:field="*{nds}" type="number" step="0.01" class="input"/>
            </div>
            <div class="form-row">
                <textarea placeholder="Opis czynnika" th:field="*{description}" type="text" class="textbox"></textarea>
            </div>
            <div class="form-row">
                <input placeholder="jednostka" th:field="*{unit}" type="text" class="input"/>
            </div>
        </form>
    </div>
</section>>
</html>