<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: template (~{:: #factors-description-content})}">

    <section id="factors-description-content">
        <div class="container">
            <h1 style="font-size: 2em">Opis różnych czynników</h1>
            <ul>
                <li><a href="">Hałas ogólny</a></li>
                <li><a href="">Hałas ultradźwiękowy</a></li>
                <li><a href="">Pył całkowity</a></li>
                <li><a href="">Pył respirabilny</a></li>
            </ul>

        </div>

    </section>






</html>