<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: template (~{:: #factors-description-content})}">

<section id="factors-description-content">
    <div class="container">
        <h1 style="font-size: 2em">Opis różnych czynników</h1>
        <ul>
            <li><a href="">Hałas</a></li>
            <li><a href="">Pyły</a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
        <dl>
            <dt>Hałas</dt>
            <dd style="font-weight: 200">
                <p>Hałasem określa się wszelkie niepożądane, nieprzyjemne, dokuczliwe, uciążliwe lub szkodliwe drgania
                    ośrodka sprężystego, oddziaływujące za pośrednictwem powietrza na narząd słuchu i inne zmysły oraz
                    elementy organizmu człowieka.
                <p>Skutki oddziaływania hałasu na organizm ludzki mogą być słuchowe i pozasłuchowe.
                    W wyniku długotrwałej, wieloletniej ekspozycji na hałas, o równoważnym poziomie dźwięku A powyżej 80
                    dB, zazwyczaj dochodzi do nieodwracalnego podwyższenia progu słyszenia tzw. trwałych ubytków słuchu.
                    Trwały ubytek słuchu może być również efektem jednorazowej ekspozycji na hałas, jeśli jego szczytowy
                    poziom ciśnienia akustycznego przekroczy wartość 135 dB. Jeśli, obustronny trwały ubytek słuchu typu
                    ślimakowego spowodowany hałasem , jest wyrażony podwyższeniem progu słuchu o wielkości co naimniej
                    45 dB w uchu lepiej słyszącym, obliczony jako średnia arytmetyczna dla częstotliwości
                    audiometrycznych 1, 2 i 3 kHz, to wówczas stanowi kryterium rozpoznania i orzeczenia zawodowego
                    uszkodzenia słuchu.</p>
                <p>Pozasłuchowe skutki oddziaływania hałasu na organizm ludzki polegają na działaniu hałasu jako
                    stresora, prowadząc do zaburzeń funkcjonowania układu oddechowego, krążenia, pokarmowego i innych
                    narządów. Hałas oddziałuje również negatywnie na układ nerwowy. Ponadto hałas obniża zrozumiałość
                    mowy oraz percepcję ostrzegawczych sygnałów dźwiękowych. Maskowanie mowy oraz sygnałów
                    ostrzegawczych nie tylko utrudnia porozumiewanie się, ale przed wszystkim zwiększa ryzyko wypadków w
                    hałaśliwym środowisku pracy.</p>
                <p>Zgodnie z obowiązującymi przepisami podanymi w Rozporządzeniu M P i P S z dnia 29 listopada 2002 r. w
                    sprawie najwyższych dopuszczalnych stężeń i natężeń czynników szkodliwych dla zdrowia w środowisku
                    pracy (Dz. U. Nr 217, poz. 1833) oraz zgodnie z wymaganiami normy PN-N-01307:1994 [11] hałas w
                    środowisku pracy jest oceniany na podstawie wartości następujących wielkości:</p>
                <p>Skutki oddziaływania hałasu na organizm ludzki mogą być:</p>
                <ul>
                    <li>poziomu ekspozycji na hałas odniesionego do 8-godzinnego dobowego wymiaru czasu pracy lub
                        poziomu ekspozycji na hałas odniesionego do tygodnia pracy,
                    </li>
                    <li>maksymalnego poziomu dźwięku A,</li>
                    <li>szczytowego poziomu dźwięku C,</li>
                </ul>
                <p>Dopuszczalne wartości hałasu ze względu na ochronę słuchu są następujące</p>
                <ul>
                    <li>poziom ekspozycji na hałas odniesiony zarówno do 8 godzin jak i tygodnia pracy nie może
                        przekraczać 85 dB,
                    </li>
                    <li>maksymalny poziom dźwięku A nie może przekraczać 115 dB,</li>
                    <li>szczytowy poziom dźwięku C nie może przekraczać 135 dB,</li>
                </ul>
                <p>Ponadto Rozporządzenie M G i P z dnia 5 sierpnia 2005 r. w sprawie bezpieczeństwa i higieny pracy
                    przy pracach związanych z narażeniem na hałas lub drgania mechaniczne (Dz. U, Nr 157, poz. 1318)
                    wdrażające postanowienia Dyrektywy Hałasowej 2003/10/WE, wprowadza wartości progu działania:</p>
                <ul>
                    <li>dla poziomu ekspozycji na hałas odniesionego do 8-godzinnego dobowego wymiaru pracy lub poziomu
                        ekspozycji na hałas odniesionego do tygodnia pracy – 80 dB,
                    </li>
                    <li>dla szczytowego poziomu dźwięku C – 135 dB,</li>
                </ul>
            </dd>
            <dt>Pyły</dt>
            <dd style="font-weight: 200">
                <p>Pyły, pochodzące najczęściej z obróbki rozmaitych materiałów, często mogą być szkodliwe dla zdrowia
                    człowieka, jeżeli dostaną się do układu oddechowego. Właśnie dlatego stanowiska, na których
                    wykonywane są tego typu prace, podlegają dokładnej kontroli. Oczywiście, nie wszystkie rodzaje pyłów
                    zagrażają zdrowiu pracowników. Niektóre w ogóle nie są wdychane ze względu na rozmiar cząsteczek,
                    niektóre są całkowicie neutralne dla ludzkiego organizmu. Aby jednak umożliwić rozróżnianie, które
                    są szkodliwe dla zdrowia, a które nie, powstała specjalna klasyfikacja pyłów w procesach
                    technologicznych, gdzie zawarte zostały dane dotyczące wymiarów cząsteczek poszczególnych ich
                    rodzajów oraz ich wpływ na ludzkie zdrowie.</p>
                <p>Klasyfikacja różnego rodzaju pyłów i włókien, które mogą pojawić się podczas procesów
                    technologicznych, z odpowiednim podziałem według rozmiaru cząsteczek i ich wpływu na ludzkie
                    zdrowie, została zawarta w rozporządzeniu Ministra Pracy i Polityki Społecznej z dnia 6 czerwca 2014
                    roku. W dokumencie zawarto informacje dotyczące dopuszczalnych wartości stężeń i natężeń czynników
                    szkodliwych w środowisku pracy (Dz. U. poz. 817). Według tego rozporządzenia pyły, z którymi możemy
                    mieć styczność podczas pracy i przeprowadzania różnych procesów technologicznych, dzielimy na:</p>
                <ul>
                    <li>pył całkowity – czyli zbiór wszystkich cząstek otoczonych powietrzem, znajdujących się w
                        określonej objętości powietrza
                    </li>
                    <li>pył respirabilny – czyli zbiór cząstek przechodzących przez selektor wstępny o przepuszczalności
                        charakteryzowanej według wymiarów cząstek, opisanej logarytmiczno-normalną funkcją
                        prawdopodobieństwa, o średnicy aerodynamicznej około trzy i pół mikrona i z geometrycznym
                        odchyleniem około półtora mikrona,
                    </li>
                    <li>włókna respirabilne – czyli włókna, których długość przekracza pięć mikronów, a ich maksymalna
                        średnica wynosi trzy mikrony i które mają stosunek długości do średnicy > 3,
                    </li>
                </ul>
            </dd>

        </dl>

    </div>

</section>


</html>