<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: template (~{:: #register-content})}">
<section id="register-content">
    <div class="container">
        <h1>Rejestr czynników szkodliwych</h1>
        <table style="width: 100%">
            <tr th:each="factor : ${factors}">
                <td>
                    <h3 th:text="${factor.name}"></h3>
                    <p th:text="${factor.description}"></p>
                </td>
                <td style="text-align: center">
                    <h3 th:text="|${factor.nds} ${factor.unit}|"></h3>
                    <a th:href="@{/input/{factorId}(factorId=${factor.id})}" class="btn btn-sm">Wprowadź</a>
                </td>
            </tr>
        </table>
    </div>
</section>
</html>